# Bundler
/vendor/bundle
/vendor/cache
/vendor/cache/gems
/vendor/cache/ruby
/vendor/cache/ruby/gems

# RubyGems
*.gem
*.gemspec

# Jekyll
_site
_cache
.DS_Store
*.swp
*.tmp

# Editor
.idea/
.vscode/
*.sublime-*

# Logs
*.log
logs/

# Test
.rubocop.yml
.rubocop_todo.yml
.rubocop_cache/
